<%= render 'layouts/header' %>
<div class = "games">
    <!--<p id="notice"><%= notice %></p>-->
    <h2>Please select an incident scenario</h2>

    <div class="games-scenarios">
        <!-- TEMPORARY PICTURE VARIABLE -->
        <% count = 0 %>

        <% @games.each do |game| %>
          <% count = count+1 %>
          <div class="game-tile-border">
              <section class="game_tile" style="background-image: url('<%= game.game_image.button.url %>')">

                  <p>
                      <% if player_signed_in? %>
                      <%= button_to "Start #{game.title}", 'start/' + game.first_step.to_s, method: :get, class: "game_tile_button" %>
                      <% else %>
                      <%= button_to "Start #{game.title}", new_player_session_path, class: "game_tile_button" %>
                      <% end %>
                  </p>
              </section>
          </div>
        <% end %>

        <% if player_signed_in? %>
            <p>
            You have <%= @statuses.length %> uncompleted game<%= "s" if @statuses.length != 1 %>.</br>
            <%= link_to "Go to saved scenarios", player_path, class: "button gray rounded medium" %>
            </p>
        <% end %>
    </div>

    <!--<%= link_to "Home", root_path, class: "button gray rounded medium" %>

    <div class="erie_logo"></div>
    <div class="surrey_logo"></div>-->
</div>
<%= render 'layouts/footer' %>
