<nav id="sign_in">
  <% if player_signed_in? %>
    Signed in as <%= current_player.email %>:
    <%= link_to "Sign out", destroy_player_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_player_registration_path %> or
    <%= link_to "Sign in", new_player_session_path %>
  <% end %>
</nav>
<p id="notice"><%= notice %></p>

<h1>Aflatoxin in Corn Oil</h1>
<p>
  Your company, Oils Unlimited, is a medium-sized enterprise importing vegetable oils, such as rapeseed, groundnut, sunflower, soybean, olive, corn and sesame, from several countries such as India, China, Sudan, Argentina and Indonesia and repackaged under your own brand names. One of your products is Corn-Oh-Lio, a brand of cooking corn oil. You supply this product to small and medium-scale food business operators in the UK and France. Your clients include individual retailers, snack food manufacturers and fast food restaurants, and at least one major retail chain in the UK called Tesland.
</p>
<p>
  <% step = @steps[0] %>
  <% if player_signed_in? %>
    <%= button_to "Start the Game", step, method: :get %>
  <% else %>
    Log in to start game
  <% end %>
</p>
