<%= render 'layouts/header' %>
<article id='player_details'>
  
  <section>
  <% if current_player %>
  Welcome <%= current_player.email %>

    <% if @statuses == [] %>
      <p>
        You have no previous games.
      </p>      
    <% else %>
      <ul>
        You have completed the following games
        <% @statuses.each do |status| %>
          <% if status.completed == true %>
            <% begin %>
              <li><%= Game.find(status.game_id).title %>, created at <%= status.created_at %>. <%= link_to "Generate Report (PDF)", report_path(status, format: "pdf") %></li>
            <% rescue Exception %>
              <li><%= "#{$!}, so no details provided." %>
            <% end %>
          <%end %>
        <% end %>
      </ul>
      <ul>
        The following games are unfinished
        <% @statuses.each do |status| %>
          <% if status.completed == false %>
            <% begin %>
              <li><%= Game.find(status.game_id).title %>, saved at: <%= status.updated_at %>.
                <%= link_to "Resume Game?", resume_path(status) %> </li>
            <% rescue Exception %>
              <li><%= "#{$!}, so no details provided." %>
            <% end %>
          <%end %>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    Log in to see your player details
  <% end %>
  </section>

<nav>
  <%= link_to "Go back to the Scenarios", games_path %>
</nav>
  
    
  
</article>