  <section id="status">
    <h1>SCENARIO STATUS</h1>
    <h2>DAY: <%= @status.day_no %></h2>
    <p>
      <%= @step.status_message %>
    </p>
  </section>

  <section class="left_element">
    <h1>Messages</h1>
    <% if @messages %>     
        <% for message in @messages %>
        <h2><%= message.source %></h2>
        <p><%= message.message %></p>
        <% end %>
    <% end %>
  </section>

  <section class="right_element">
    <h1>ACTION BOX</h1>
    <% if @decision_choices %>
      <h2>Decision Choices</h2>
      <% if @decision_choices != [] %>
      <ul>
        <% for decision in @decision_choices %>
        <% id = decision.id.to_s %>
        <li><%= decision.choice %> <%= button_to "Select", '/next_step/' + decision.id.to_s, method: :get %></li>
        <% end %>
      </ul>
      <% else %>
      <h2>Game Over!</h2>
      <% end %>
    <% end %>
  </section>


  <section id="dashboard">
    <h1>USER DASHBOARD</h1>
    <ul>
      <li>External Communication: <%= @status.external_communication %></li>
      <li>Internal Communication: <%= @status.internal_communication %></li>
      <li>Media Perception: <%= @status.media_perception %></li>
      <li>Public Perception: <%= @status.public_perception %></li>
    </ul>
  </section>